//.sim-inputs-main {
@import '../../styles';

*,
::before,
::after {
  box-sizing: border-box;
}
.outer-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}


.sim-input-panel {
  display: flex;
  flex-direction: column;
}

//.header {
//  display: flex;
//  flex-direction: row;
//  margin-top: 10px;
//  gap: 20px;
//  align-items: center;
//}


mat-slider {
  width: 250px;
}

.right-align {
  text-align: right;
}

.first-col {
  width: 200px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


mat-card {

  display: flex;
  flex-direction: column;
  //justify-content: space-between;
   flex-grow: 1; /* This will make the content take up all available space */
  overflow: auto; /* In case content is longer than the available space */

}

.rounded-button {
    border-radius: 2.5em; /* You can adjust the radius as needed */
  width: 20%;
}

.rounded-button-small {
  margin-top:  0.5em;
  border-radius: 2.5em; /* You can adjust the radius as needed */
  width: 17%;
  min-width: 1.5em;
}

 .input-col{
   display: flex;
 }


.bottom-buttons{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-left: 0.75em;
  gap: 0.75em;

  //margin-bottom: auto;
  //margin-left: auto;
}

.draws-simulate-action{
  display: flex;
  //margin-top:  15px;
  //margin-left: 450px;
  justify-content: flex-end;
  margin-right: 1.25em;
  margin-bottom: 0.5em;
  //margin-top: -0.1em;
  //gap: 450px;
}
.quantile-input{
  display: flex;
  //min-width: 675px;
  //max-width: 770px;
}

.sim-button{
  display: flex;
  margin-left: 45px;
}


.mat-form-field{
  width: 6em !important;
}

.large-icon {

  font-weight: bold;
}

.header-content {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  width: 20%;
  gap: 5px;
}
.under-controls {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-right: 1em;

}

.high{
  display: flex;
  align-items: center;
  align-items: center;

}

/* Target the cells in all rows except the last one and remove the border */
.mat-row .mat-cell,
.mat-row .mat-header-cell {
  border-bottom: none !important;
}

/* Add a border below the last row */
.mat-row:last-child .mat-cell {
  border-bottom: 1px solid #000; /* Adjust the color and width as needed */
}
