
<mat-card class="outer-card">
    <div class="card-gradient-patch"></div> <!-- This should be first -->
  <mat-card-header>
    <mat-card-title >
      <div class="card-header">
      <div class="title-wrapper">  Price scenarios



      </div>
        <button mat-button
                class = "helper-button"
                aria-label="Example icon button with a home icon"
                (click)="openDialog()">
          <mat-icon>help_outline</mat-icon>

        </button>
      </div>
    </mat-card-title>
  </mat-card-header>

   <div class="saved-content">
          <span>Price at 50%</span>
          <span class="value">{{(this.showTop|async)?.midPrice | currency: 'USD':'symbol':'1.0-0'}}</span>
        </div>


  <mat-card-content class="card-content">
<!--    <div #plotContainer></div>-->

    <div class = "plot-hold" >
      <plotly-plot [data]="data" [layout]="layout"
                   [config]="config"
                   [useResizeHandler]="true" [style]="{position: 'relative', width: '100%', height: '100%'}">
      </plotly-plot>
    </div>


  </mat-card-content>
</mat-card>

