mat-card {
  //margin: 20px;
  margin-left: 15px;
  width: 80%;  // Adjust width as needed
  min-width: 860px;
  max-width: 860px;
  max-height: 570px;
  min-height: 570px;
  // Additional styles
}



mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: start; /* Align title to the start */
  //padding: 16px;
  background-color: white; /* Ensure the rest of the header is white */
}


/* Styling for the card content area, which includes Plotly plot and the inner card */
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Aligns children (plot and card) side by side */
  align-items: start; /* Aligns items at the top, useful if they have different heights */

}

#plotContainer {
  flex: 1; /* Allows the plot container to grow and take available space */
  min-width: 300px; /* Ensures the plot container has a minimum width */
  //min-height: 700px;
  //  max-height: 700px;
}


//}

.saved-content {
  display: flex;
  align-items: center;  // Ensure vertical alignment to the center
  justify-content: flex-start;  // Align items to the start of the container
  flex-direction: row;  // Lay out items horizontally
  margin-top: 20px;  // Top margin for spacing
  margin-left: 300px;
  margin-right: 50px;
  //gap: 15px;  // Space between elements
}

.saved-content span {
  font-size: 20px;  // Uniform font size for all spans
  font-weight: bold;  // Bold text for better visibility
  color: #36454F;  // Consistent color for text
}

.saved-content span:first-child {
  flex: 0 0 auto;  // Prevent "Saved" from growing or shrinking
  margin-right: -140px;  // Right margin only for the "Saved" label
  white-space: nowrap;  // Prevent "Saved" from wrapping to a new line
}

.saved-content .value {
  flex: 1;  // Allow values to grow and fill available space
  color: #36454F;  // Ensure values are the specified color
  text-align: center;  // Center-align values for a balanced appearance
  min-width: 40px;  // Minimum width to handle small values
}

.card-header {
  display: flex;
  margin-top: -50 !important;
  justify-content: stretch !important; /* This spreads out the children */
  align-items: flex-start !important;
  width: 100%; /* Full width to spread elements */
  gap: 445px;
}

//.helper-button {
//  font-size: 24px; /* Increase the font size for larger icon/text */
//  line-height: 1; /* Adjust line-height to control the spacing */
//  padding: 8px 16px; /* Increase padding to make the button larger */
//  min-width: 40px; /* Ensure the button has a minimum width */
//  height: 40px; /* Control the height of the button */
//}
//
//.helper-button mat-icon {
//  font-size: 24px; /* Make sure the icon also grows */
//}

.helper-button {
  font-size: 24px; // Adjust as needed for the size of the text or icon
  //line-height: 1;
  padding: 8px 16px;
  min-width: 40px;
  height: 20px;
  background-color: transparent; /* Removes the default background */
  border: none; /* Removes the border */
  color: inherit; /* Inherits the text color from the parent, or set your preferred color */
  box-shadow: none; /* Removes any shadow effects */
}

.helper-button:hover,
.helper-button:focus {
  background-color: transparent; /* Ensures background remains transparent on hover/focus */
  box-shadow: none; /* Ensures no shadow appears on hover/focus */
}


 .material-symbols-outlined {
   font-variation-settings:
     'FILL' 0,
     'wght' 400,
     'GRAD' 0,
     'opsz' 40
 }
