//mat-card {
//
//margin-right: 1em;
//}
@import '../../styles';
.outer-card {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1 2;
}



mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: start; /* Align title to the start */
  //padding: 16px;
  background-color: white; /* Ensure the rest of the header is white */
}


/* Styling for the card content area, which includes Plotly plot and the inner card */
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligns children (plot and card) side by side */
  align-items: center; /* Aligns items at the top, useful if they have different heights */

}

#plotContainer {
  flex: 1; /* Allows the plot container to grow and take available space */
  min-width: 300px; /* Ensures the plot container has a minimum width */
  //min-height: 700px;
  //  max-height: 700px;
}


//}

.saved-content {
  display: flex;
  align-items: center;  // Ensure vertical alignment to the center
  justify-content: flex-start;  // Align items to the start of the container
  margin: 1em;
  gap: 0.75em;
}

.saved-content > * {
  font-size: 1.25rem;  // Uniform font size for all spans
  font-weight: bold;  // Bold text for better visibility
  text-align: center;
  color: #36454F;  // Consistent color for text

}



.card-header {
  display: flex;
  margin-top: -50 !important;
  //justify-content: stretch !important; /* This spreads out the children */
  align-items: flex-start !important;
  width: 100%; /* Full width to spread elements */
  gap: 0.5em;
  //gap: 445px;
}


.helper-button {
  font-size: 1.2r5em; // Adjust as needed for the size of the text or icon
  //line-height: 1;
  padding: 0.4em 0.8em;
  min-width: 2em;
  height: 1em;
  background-color: transparent; /* Removes the default background */
  border: none; /* Removes the border */
  color: inherit; /* Inherits the text color from the parent, or set your preferred color */
  box-shadow: none; /* Removes any shadow effects */
}

.helper-button:hover,
.helper-button:focus {
  background-color: transparent; /* Ensures background remains transparent on hover/focus */
  box-shadow: none; /* Ensures no shadow appears on hover/focus */
}


 .material-symbols-outlined {
   font-variation-settings:
     'FILL' 0,
     'wght' 400,
     'GRAD' 0,
     'opsz' 40
 }
