@import '../../styles';

mat-card {

  display: flex;
  flex-direction: column;
  flex: 1 2;
  overflow: auto;

}


.mat-card-content {
  display: flex;
  flex-direction: column;

}



.mat-card-footer{
  display: flex;
  flex-direction: column;

}



.plot-slider {
  display: flex;
  justify-content: center; /* Centers the slider within the div */
  width: 1100px; /* Sets the exact width of the slider container */
}

.mat-slider {
  min-width: 20em;
}

//.card-header{
//  display: flex;
//  justify-content: stretch;
//  align-items: center;
//
//}

//.card-header {
//  display: flex;
//  justify-content: space-between; /* This will space out the children elements */
//  align-items: center; /* Aligns items vertically in the center */
//  width: 100%; /* Ensure the container takes full width of its parent */
//}

 .card-header {
  display: flex;
  margin-top: -50 !important;
  justify-content: stretch !important; /* This spreads out the children */
  align-items: flex-start !important;
  width: 100%; /* Full width to spread elements */
  gap: 425px;
}

