@import '../../styles';



.outer-card {
  display: flex;
  flex-direction: column;
  //overflow: auto;
  height: 0;
  min-height: 100%;
  flex: 1 2;
}


.mat-card-footer{
  display: flex;
  flex-direction: column;

}

.mat-card-content{
  display: flex;
  flex-direction: column;

}


/* Styling for the card content area, which includes Plotly plot and the inner card */
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligns children (plot and card) side by side */
  align-items: center; /* Aligns items at the top, useful if they have different heights */
  width: 100%;
  height: 100%;
  position: relative;
  //overflow: auto;
}

.plot-hold {
  width: 100%;
  height: 100%;
  min-height: 1px; /* Minimum height to prevent it from becoming too small */
  //overflow: auto;
}


.plot-slider {
  display: flex;
  justify-content: center; /* Centers the slider within the div */
  min-width: 30em; /* Sets the exact width of the slider container */
}

//.mat-slider {
//  min-width: 40em !important;
//}

 .card-header {
  display: flex;
  //margin-top: -1rem !important;
  justify-content: space-between !important; /* This spreads out the children */
  align-items: flex-start !important;
  width: 100%; /* Full width to spread elements */
  //gap: 30em;
}



.panel {
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid #999;
}
.panel > h2 {
  margin-top: 0;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
