@import '../../styles';

mat-card {

  display: flex;
  flex-direction: column;
  flex: 1 2;
  overflow: auto;

}


//.mat-card-content {
//  display: flex;
//  flex-direction: column;
//  justify-content: center; /* Aligns children (plot and card) side by side */
//  align-items: center; /* Aligns items at the top, useful if they have different heights */
//
//}



.mat-card-footer{
  display: flex;
  flex-direction: column;

}

/* Styling for the card content area, which includes Plotly plot and the inner card */
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligns children (plot and card) side by side */
  align-items: center; /* Aligns items at the top, useful if they have different heights */

}

.plot-slider {
  display: flex;
  justify-content: center; /* Centers the slider within the div */
  min-width: 30em; /* Sets the exact width of the slider container */
}

.mat-slider {
  min-width: 40em !important;
}

 .card-header {
  display: flex;
  margin-top: -50 !important;
  justify-content: space-between !important; /* This spreads out the children */
  align-items: flex-start !important;
  width: 100%; /* Full width to spread elements */
  gap: 30em;
}

