<mat-card>
  <div class="card-gradient-patch"></div> <!-- This should be first -->
  <mat-card-header>


    <mat-card-title>
      <div class="card-header">
        <div class="title-wrapper">Simulated costs: Base - Reflex</div>


        <div class = "summary-form">
        <mat-form-field>
          <mat-label>Summary</mat-label>
          <mat-select [formControl]="summaries" multiple>
            @for (topping of toppingList; track topping) {
              <mat-option [value]="topping">{{ topping }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      </div>
    </mat-card-title>


  </mat-card-header>

  <mat-card-content>


    <div class = "card-content">

    <div #plotContainer></div>
    </div>

  </mat-card-content>

  <div class="plot-slider" *ngIf="sliderVisible">
    <div class="custom-theme">
      <mat-slider color="warn"
                  [min]="plotRangeInput.controls.lower.value "
                  [max]="plotRangeInput.controls.upper.value"
                  step="0.01"
                  matTooltip="Display range"
                  [matTooltipShowDelay]="500"
                  aria-label="Button that displays a tooltip in various positions"
      >
        <input matSliderStartThumb [value]="plotRangeInput.controls.min.value"
               [formControl]="plotRangeInput.controls.min"
        >
        <input matSliderEndThumb [value]="plotRangeInput.controls.max.value"
               [formControl]="plotRangeInput.controls.max"
        >
      </mat-slider>

    </div>
  </div>


</mat-card>
