
.hover-editable {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  display: flex;
  text-align: right;
  flex-direction: row-reverse;
  width: auto;


  align-items: center;
  height: 40px;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid transparent;
  outline: 2px solid transparent;
}

input.hover-editable:hover,
input.hover-editable:focus {
  outline: 2px solid #673AB7;
  text-align: center;
}
