

<span *ngIf="!isHovering && !isFocused"
      (mouseenter)="handleMouseEnter()"
      (mouseleave)="handleMouseLeave()"
      (mouseout)="handleMouseLeave()"
      class="hover-editable"
      [ngStyle]="{'max-width.px': inputMaxWidth}">
  {{ formattedValue  }}
</span>

<input *ngIf="isHovering || isFocused"
       [min]="limits[0]"
       [max]="limits[1]"
       class="hover-editable"
       [formControl]="valueControl"
       (focus)="handleFocus()"
       (blur)="handleBlur()"
       (mouseenter)="handleMouseEnter()"
       (mouseleave)="handleMouseLeave()"
       (mouseout)="handleMouseLeave()"
       [ngStyle]="{'max-width.px': inputMaxWidth}">
