<div class="app-header">
  REFLEX PRENATAL TEST COST ANALYSIS



<div class = "summary-form">
  <mat-button-toggle-group [formControl]="orient"
                           name="orientation"
                           class="row-toggle"
                           aria-label="Row column switches"
                           multiple
                          >
    <mat-button-toggle value="rows">Rows</mat-button-toggle>

  </mat-button-toggle-group>



  <mat-button-toggle-group [formControl]="switches"
                          name="switches"
                           class="switch-toggle"
                           aria-label="Screen switches"
                           multiple>

    <mat-button-toggle value="sensitivity">Sensitivity</mat-button-toggle>
    <mat-button-toggle value="simulation">Simulation</mat-button-toggle>
  </mat-button-toggle-group>
</div>


</div>


<div class="grid">

  <ng-container *ngIf="switches.value.includes('sensitivity')"  class="sensitivity_panel">
    <app-inputs class="a"></app-inputs>
    <app-outputs class="b"></app-outputs>
<!--    <app-output-costs-pregnancy class="b"></app-output-costs-pregnancy>-->
    <app-price-scenario-plot class="c"></app-price-scenario-plot>
  </ng-container>


  <ng-container  *ngIf="switches.value.includes('simulation')"  class="simulation-panel">
    <app-simulation-inputs class="d"></app-simulation-inputs>
    <app-simulation-output class="e"></app-simulation-output>
  </ng-container>

</div>
