
@import '../styles';

*,
::before,
::after {
  box-sizing: border-box;
}


.app-header {
  //box-sizing: border-box;
  background-color: #f2f2f2;

  border: #f2f2f2;

  //height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 3.5rem;
  font-weight: bold;
  //border: none;
  padding: 0;
  margin: 0.4em 0.25em 0.25em 0.4em;  // top right left bottom


  background-image: linear-gradient(to right, $dark-purple, $blueish-dark, $blueish-light);
  background-clip: text;
  -webkit-background-clip: text;  /* Apply the gradient clip to the text */
  color: transparent;

}




.top-row{
  display: flex;
  margin: 0 1em 1em 1em;
  gap: 0.5em;
}

.bottom-row {
  display: flex;
  margin: 0 1em 1em 1em;
  gap: 0.5em;
  align-items: stretch ;
}



.top-row > * {
  overflow: auto;
  margin: 0 1em 1em 1em;
  gap: 0.5em;
}

.bottom-row > * {
  overflow: auto;
  margin: 0 1em 1em 1em;
  gap: 0.5em;
}

















