

<div class="app-header">
REFLEX PRENATAL TEST COST ANALYSIS
</div>

  <div class = "grid">



    <div class = "column_one">
  <app-inputs class = "a"></app-inputs>
    <app-simulation-inputs class = "d"></app-simulation-inputs>
  </div>

    <div class = "column-output">
      <div class = "output-row">
  <app-outputs class = "b"></app-outputs>
  <app-price-scenario-plot class = "c"></app-price-scenario-plot>
    </div>



  <app-simulation-output class = "e"></app-simulation-output>
  </div>
</div>



