
@import '../styles';

*,
::before,
::after {
  box-sizing: border-box;
}

.app-header {
  //box-sizing: border-box;
  background: #f2f2f2;
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 2.5rem; /* Adjust size as needed */
  font-weight: bold;
  margin: 0.25em 0.25em 0.1em 0.3em;
  color: transparent;  /* Make the text color transparent */
  background: linear-gradient(to right, $dark-purple, $blueish-dark, $blueish-light);
  -webkit-background-clip: text;  /* Apply the gradient clip to the text */
  background-clip: text;
}




.container {
  display: grid;
  grid-template-columns: 30%  10% 10%  26%  ;
  grid-template-rows: auto auto; /* Two rows, auto height */
    grid-auto-rows: 1fr;
  grid-gap: 30px 30px; /* 15px horizontal gap, 25px vertical gap */
  margin-left: 20px;
  margin-bottom: 25px; /* Space after the whole grid if needed */
  width: 100%;
}

/* Styles for the child components */
.a {

  grid-column: 1;
  grid-row: 1;
}

.b {

  grid-column: 2 /4;
  grid-row: 1;
}

.c {
  grid-column: 4/5;
   grid-row: 1;
}


.d {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.e {
  grid-column: 3/5;
  grid-row: 2;
}



























