@import '../../styles';
.outer-card {
 display: flex;
  flex-direction: column;
  flex: 1;
}


/* Styling for the card content area, which includes Plotly plot and the inner card */
.card-content {
  display: flex;
  max-width: 50%;
  min-width: 20%;
  min-height: 20%;
  flex-direction: column;
  justify-content: space-between; /* Aligns children (plot and card) side by side */
  align-items: center; /* Aligns items at the top, useful if they have different heights */
}

.plot-hold {
  width: 100%; /* Full width to ensure it expands/contracts with the container */
  height: 100%; /* Full height to ensure it takes up all available space */
  min-height: 50px; /* Minimum height to prevent it from becoming too small */
}

//.card-content {
//  flex: 1;  /* Allows the card content to fill the space */
//  display: flex;
//  flex-direction: column;
//  align-items: center; /* Centering content horizontally */
//  justify-content: space-between; /* Distributing space above and below the plot */
//  width: 100%; /* Ensures the card content takes full width */
//}
//
//.outer-card {
//  display: flex;
//  flex-direction: column;
//  width: 100%; /* Set width to 100% to ensure it occupies all its parent's width */
//  max-width: 100%; /* Ensures the outer card is not wider than its parent */
//  height: auto; /* Height auto for natural flow */
//}
//

.saved-content {
  display: flex;
  align-items: center;  // Ensure vertical alignment to the center
  justify-content: flex-start;  // Align items to the start of the container
  margin: 1em;
  gap: 0.75em;


}


.saved-content > * {
  font-size: 1.25rem;  // Uniform font size for all spans
  font-weight: bold;  // Bold text for better visibility
  text-align: center;
  color: #36454F;  // Consistent color for text

}
