@import '../../styles';
*,
::before,
::after {
  box-sizing: border-box;
}

.outer-card {
 display: flex;
  flex-direction: column;
  //max-height: 45vh;
  height: 0;
  min-height: 100%;
  flex: 1;

}


/* Styling for the card content area, which includes Plotly plot and the inner card */
.card-content {
  display: flex;


  width: 90%;
  height: 100%;
  //flex-direction: column;
  justify-content: center; /* Aligns children (plot and card) side by side */
  align-items: center; /* Aligns items at the top, useful if they have different heights */
  overflow: auto;
  //max-height: 45vh;
}

.plot-hold {
  //display: flex;
  width: 90%; /* Full width to ensure it expands/contracts with the container */
  height: 100%; /* Full height to ensure it takes up all available space */
  min-height: 20px; /* Minimum height to prevent it from becoming too small */
  overflow: auto;

}



.saved-content {
  display: flex;
  align-items: center;  // Ensure vertical alignment to the center
  justify-content: flex-start;  // Align items to the start of the container
  margin: 1em;
  gap: 0.75em;


}


.saved-content > * {
  font-size: 1.25rem;  // Uniform font size for all spans
  font-weight: bold;  // Bold text for better visibility
  text-align: center;
  color: #36454F;  // Consistent color for text

}
