
.outer-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}



.header{
  display: flex;
  gap: 1em;
  align-items: center;
}

/* Styles for your component */
.right-align {
  text-align: right;
}

mat-slider {
  min-width: 20em;
}


th.mat-header-cell {
  box-sizing: border-box;
}




.header-content {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  width: 20%;
  gap: 0.25em;
}

.under-controls {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-right: 0.5em;
  //width: 20%;
  //gap: 5px;
}



.inputs-main{
  display: flex;
  flex-direction: column;
  //margin-right: 160px;
}


mat-card {
  ////margin-left: 15px;
  //width: 80%;
  //min-width: 850px;
  //max-width: 850px;
  //height: 570px;

}

.rounded-button {
  margin-top: 0.5em;
  //margin-left: -5px;
    border-radius: 2em; /* You can adjust the radius as needed */
  max-width: 20%;
}
.bottom {
  display: flex;
  flex-direction: row-reverse;
    //margin-left: 55%;
  //margin-top: 20%;
  //gap: 10px;
}



.large-icon {

  font-weight: bold;
}

.bottom > .reference {
  text-decoration: none;
}

.lower{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3em;
}
